{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre_page %} Mes rencontres {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'project_FSS/style/base.css' %}">
    {% block css_site%}{%endblock%}

</head>
<body>
    <header id="main-header">
        <nav><a href="" id="main-logo">FSSbook</a></nav>
        <h1>{% block titre_principal%}{%endblock%}</h1>
        {% block contenu_principal%}{%endblock%}
    </header>
    <main>
        {% block body%}{%endblock%}
    </main>
</body>
           
